*~
\#*\#
.\#*
.idea
*.iml
*.class
*.log
.DS_Store
target/
**/out/
**/bin/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
### Gradle ###
**/.gradle/
**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

/package-lock.json
**/node_modules/

**/.meghanada/
**/.classpath/
**/.project
**/.settings/
/.run/
**/.classpath
